[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    df = diff
    branches = branch --list
    stashes = stash list
    tags = tag --list
[user]
    email = daniel.kinsman@biarri.com
    name = Daniel Kinsman
[push]
    default = simple
[help]
    autocorrect = 0
[core]
	editor = nvim
